<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#DSC550-Week-1-Assignment" data-toc-modified-id="DSC550-Week-1-Assignment-1">DSC550 Week 1 Assignment</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#1.-Load-the-dataset-as-a-Pandas-data-frame." data-toc-modified-id="1.-Load-the-dataset-as-a-Pandas-data-frame.-1.0.1">1. Load the dataset as a Pandas data frame.</a></span></li><li><span><a href="#2.-Display-the-first-ten-rows-of-data." data-toc-modified-id="2.-Display-the-first-ten-rows-of-data.-1.0.2">2. Display the first ten rows of data.</a></span></li><li><span><a href="#3.Find-the-dimensions-(number-of-rows-and-columns)-in-the-data-frame.-What-do-these-two-numbers-represent-in-the-context-of-the-data?" data-toc-modified-id="3.Find-the-dimensions-(number-of-rows-and-columns)-in-the-data-frame.-What-do-these-two-numbers-represent-in-the-context-of-the-data?-1.0.3">3.Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?</a></span><ul class="toc-item"><li><span><a href="#What-does-the-numbers-represent?:-Each-row-in-the-dataset-represents-sales-figure-of-a-Video-game-and-its-details-such-as-Year-released,-Publisher,-sales-in-millions-along-with-the-ratings.-So-the-numbers-represents-there-are-16719-such-sales-figures-and-16-such-attributes-that-describes-the-Video-game-sales." data-toc-modified-id="What-does-the-numbers-represent?:-Each-row-in-the-dataset-represents-sales-figure-of-a-Video-game-and-its-details-such-as-Year-released,-Publisher,-sales-in-millions-along-with-the-ratings.-So-the-numbers-represents-there-are-16719-such-sales-figures-and-16-such-attributes-that-describes-the-Video-game-sales.-1.0.3.1"><strong><em>What does the numbers represent?:</em></strong> Each row in the dataset represents sales figure of a Video game and its details such as Year released, Publisher, sales in millions along with the ratings. So the numbers represents there are 16719 such sales figures and 16 such attributes that describes the Video game sales.</a></span></li></ul></li><li><span><a href="#4.Find-the-top-five-games-by-critic-score." data-toc-modified-id="4.Find-the-top-five-games-by-critic-score.-1.0.4">4.Find the top five games by critic score.</a></span></li><li><span><a href="#5.Find-the-number-of-video-games-in-the-data-frame-in-each-genre." data-toc-modified-id="5.Find-the-number-of-video-games-in-the-data-frame-in-each-genre.-1.0.5">5.Find the number of video games in the data frame in each genre.</a></span></li><li><span><a href="#6.Find-the-first-five-games-in-the-data-frame-on-the-SNES-platform." data-toc-modified-id="6.Find-the-first-five-games-in-the-data-frame-on-the-SNES-platform.-1.0.6">6.Find the first five games in the data frame on the SNES platform.</a></span></li><li><span><a href="#7.Find-the-five-publishers-with-the-highest-total-global-sales.-Note:-You-will-need-to-calculate-the-total-global-sales-for-each-publisher-to-do-this." data-toc-modified-id="7.Find-the-five-publishers-with-the-highest-total-global-sales.-Note:-You-will-need-to-calculate-the-total-global-sales-for-each-publisher-to-do-this.-1.0.7">7.Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.</a></span></li><li><span><a href="#8.-Create-a-new-column-in-the-data-frame-that-calculates-the-percentage-of-global-sales-from-North-America.-Display-the-first-five-rows-of-the-new-data-frame." data-toc-modified-id="8.-Create-a-new-column-in-the-data-frame-that-calculates-the-percentage-of-global-sales-from-North-America.-Display-the-first-five-rows-of-the-new-data-frame.-1.0.8">8. Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.</a></span></li><li><span><a href="#9.-Find-the-number-NaN-entries-(missing-data-values)-in-each-column." data-toc-modified-id="9.-Find-the-number-NaN-entries-(missing-data-values)-in-each-column.-1.0.9">9. Find the number NaN entries (missing data values) in each column.</a></span></li><li><span><a href="#10.Try-to-calculate-the-median-user-score-of-all-the-video-games.-You-will-likely-run-into-an-error-because-some-of-the-user-score-entries-are-a-non-numerical-string-that-cannot-be-converted-to-a-float.-Find-and-replace-this-string-with-NaN-and-then-calculate-the-median.-Then,-replace-all-NaN-entries-in-the-user-score-column-with-the-median-value." data-toc-modified-id="10.Try-to-calculate-the-median-user-score-of-all-the-video-games.-You-will-likely-run-into-an-error-because-some-of-the-user-score-entries-are-a-non-numerical-string-that-cannot-be-converted-to-a-float.-Find-and-replace-this-string-with-NaN-and-then-calculate-the-median.-Then,-replace-all-NaN-entries-in-the-user-score-column-with-the-median-value.-1.0.10">10.Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.</a></span></li></ul></li></ul></li></ul></div>

# Guruprasad Velikadu Krishnamoorthy

##  DSC550 Week 1 Assignment

In [1]:
# downloading the libraries required for the assignment
import pandas as pd
import numpy as np
import os

#### 1. Load the dataset as a Pandas data frame.

In [2]:
# Getting the current working directory and the file path
path=os.getcwd()
# Creating a variable for the path where Video game file is located
videogame_file=path+'\\Video_Games_Sales_as_at_22_Dec_2016.csv'
# Reading the Videogame file into a Dataframe using read_csv method
vdo_game_df=pd.read_csv(videogame_file)

#### 2. Display the first ten rows of data.

In [3]:
# Displaying the top 10 rows of the dataframe
display(vdo_game_df.head(10))

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

#### 3.Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?

In [4]:
# Using the shape function to print the number of rows and columns in the Dataframe
print(f'There are {vdo_game_df.shape[0]} Rows in the Video game sales Dataset and {vdo_game_df.shape[1]} columns')

There are 16719 Rows in the Video game sales Dataset and 16 columns

##### ***What does the numbers represent?:*** Each row in the dataset represents sales figure of a Video game and its details such as Year released, Publisher, sales in millions along with the ratings. So the numbers represents there are 16719 such sales figures and 16 such attributes that describes the Video game sales.

#### 4.Find the top five games by critic score.

In [5]:
# Using sort_values method to sort the dataframe results on the Critic_score column and arranging in
# Descending order to display top 5 rows
vdo_game_df.sort_values(by=["Critic_Score"],ascending=False).head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.69,0.44,1.61,10.50,98.0,64.0,7.5,2833.0,Rockstar North,M
51,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2951.0,Rockstar North,M
5350,SoulCalibur,DC,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.8,200.0,Namco,T
165,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48,97.0,14.0,7.9,764.0,Rockstar North,M

#### 5.Find the number of video games in the data frame in each genre.

In [6]:
# value_counts can be used to determine the number of video games in each genre.
vdo_game_df['Genre'].value_counts()

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

In [7]:
# Other way of doing is by using groupby on Genre column and getting the counts and displaying the 
# results  sorted in descending order
vdo_game_df.groupby('Genre')['Name'].count().sort_values(ascending=False)

Genre
Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Name, dtype: int64

#### 6.Find the first five games in the data frame on the SNES platform.

In [8]:
# Using filters based on Platform whose value is SNES and displaying first 5 rows
vdo_game_df_SNES=vdo_game_df[vdo_game_df['Platform']=="SNES"]
vdo_game_df_SNES.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
56,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55,NaN,NaN,NaN,NaN,NaN,NaN
71,Donkey Kong Country,SNES,1994.0,Platform,Nintendo,4.36,1.71,3.00,0.23,9.30,NaN,NaN,NaN,NaN,NaN,NaN
76,Super Mario Kart,SNES,1992.0,Racing,Nintendo,3.54,1.24,3.81,0.18,8.76,NaN,NaN,NaN,NaN,NaN,NaN
137,Street Fighter II: The World Warrior,SNES,1992.0,Fighting,Capcom,2.47,0.83,2.87,0.12,6.30,NaN,NaN,NaN,NaN,NaN,NaN

#### 7.Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.

In [9]:
# Grouping the data based on Publisher and getting the sum of Global sales. Then results
# are sorted in descending order to print the top 5 selling Publishers 
vdo_game_df.groupby('Publisher')['Global_Sales'].sum().sort_values(ascending=False).head(5)

Publisher
Nintendo                       1788.81
Electronic Arts                1116.96
Activision                      731.16
Sony Computer Entertainment     606.48
Ubisoft                         471.61
Name: Global_Sales, dtype: float64

#### 8. Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.

In [10]:
# New dataframe is created by creating copy of original dataframe
vdo_game_df1=vdo_game_df.copy()

In [11]:
# New column NA Sales Percent is added by calculating the percent using the formula
vdo_game_df1['NA_Sales_Pct']=(vdo_game_df1['NA_Sales']/vdo_game_df1['NA_Sales'].sum())*100
# Displaying first five rows of the new dataframe
vdo_game_df1.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales_Pct
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,0.939441
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,0.660516
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,0.356152
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,0.354562
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,0.255984

#### 9. Find the number NaN entries (missing data values) in each column.

In [12]:
# Printing the number of nulls in each column using isnull function
vdo_game_df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [13]:
# Looping through each column in the dataframe and printing the number of nulls in the column
for col in vdo_game_df.columns:
    print(f"There are {vdo_game_df[col].isnull().sum()} nulls in {col} Column")

There are 2 nulls in Name Column
There are 0 nulls in Platform Column
There are 269 nulls in Year_of_Release Column
There are 2 nulls in Genre Column
There are 54 nulls in Publisher Column
There are 0 nulls in NA_Sales Column
There are 0 nulls in EU_Sales Column
There are 0 nulls in JP_Sales Column
There are 0 nulls in Other_Sales Column
There are 0 nulls in Global_Sales Column
There are 8582 nulls in Critic_Score Column
There are 8582 nulls in Critic_Count Column
There are 6704 nulls in User_Score Column
There are 9129 nulls in User_Count Column
There are 6623 nulls in Developer Column
There are 6769 nulls in Rating Column

#### 10.Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.

In [14]:
# New dataframe is created by creating copy of original dataframe
vdo_game_df2=vdo_game_df.copy()
# The values in the column User_score are converted to number and if theer are errors, they are 
# stored as NaN using the coerce option. 
vdo_game_df2['User_Score']=vdo_game_df2['User_Score'].apply(pd.to_numeric, errors='coerce')

In [15]:
# Printing the number of Nulls in the column User Score 
print(f"Number of Nulls in the User_score column is {vdo_game_df2['User_Score'].isnull().sum()}")

Number of Nulls in the User_score column is 9129

In [16]:
# Calculating the median afyer Non numeric values are treated
usr_score_median=vdo_game_df2['User_Score'].median()
print(f"The median of User_Score column after treating Non-Numeric values and Nulls is {usr_score_median}")

The median of User_Score column after treating Non-Numeric values and Nulls is 7.5

In [17]:
# Using fillna method to fill the nulls with the median user score value
vdo_game_df2['User_Score']=vdo_game_df2['User_Score'].fillna(usr_score_median)
# Printing the number of Nulls in the column User Score after replacing them with Median values
print(f"Number of Nulls in the User_score column is {vdo_game_df2['User_Score'].isnull().sum()}")

Number of Nulls in the User_score column is 0

In [18]:
# Printing last 10 rows of the dataframe
vdo_game_df2.tail(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
16709,15 Days,PC,2009.0,Adventure,DTP Entertainment,0.00,0.01,0.00,0.0,0.01,63.0,6.0,5.8,8.0,DTP Entertainment,NaN
16710,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01,NaN,NaN,7.5,NaN,Atari,T
16711,Aiyoku no Eustia,PSV,2014.0,Misc,dramatic create,0.00,0.00,0.01,0.0,0.01,NaN,NaN,7.5,NaN,NaN,NaN
16712,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01,NaN,NaN,7.5,NaN,NaN,NaN
16713,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01,NaN,NaN,7.5,NaN,NaN,NaN
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,7.5,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.0,0.01,NaN,NaN,7.5,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.0,0.01,NaN,NaN,7.5,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01,NaN,NaN,7.5,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,7.5,NaN,NaN,NaN